@page
@model asp_presentacion.Pages.Ventanas.CestaModel
@{
	ViewData["Titulo"] = "Tu cesta";
}


@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <div class="error_mensaje">
        @Model.Mensaje
    </div>
}
@if (Model.Cesta != null && Model.Cesta.Any())
{
    <form method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th>Juego</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Subtotal</th>
                    <th>Accion</th>
                </tr>
            </thead>
        
            <tbody>
                @if (Model.Cesta != null)
                {
                    @foreach (var item in Model.Cesta)
                    {
                        <tr>
                            <td>@item._Videojuego?.Nombre</td>
                            <td>@item.Cantidad</td>
                            <td>@item._Videojuego?.Precio.ToString("C")</td>
                            <td>@item.Subtotal.ToString("C")</td>
                            <td>                              
                                <input type="hidden" name="id" value="@item.Videojuego" />
                                <button type="submit" class="btn-eliminar" asp-route-id="@item._Videojuego!.Id" asp-page-handler="EliminarDeCesta">Eliminar</button>
                            </td>
                        </tr>
                    }   
                }
            </tbody>
        </table>

        <h4>Total: @Model.Total.ToString("C")</h4>

        <div>
            <form method="POST" >

                <label>
                    Metodo de pago
                </label>
                <select name="MetodoSeleccionado" asp-for="@Model.MetodoSeleccionado">
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                </select>
                <label>
                    Empleado
                </label>
                <select asp-for="@Model.EmpleadoSeleccionado">
                    @foreach (var empleado in Model.ListaEmpleados!)
                    {
                        <option value="@empleado.Id">@empleado.Nombre</option>
                    }
                </select>
                <button type="submit"
                        class="acciones_Usuario_btns"
                        asp-page-handler="ConfirmarCompra">
                    Confirmar compra.
                </button>
            </form>

        </div>
    
    </form>
}
else
{
    <p>No tienes productos en tu cesta.</p>
}


